[Unit]
Description=<%= fetch(:application) %> application server
After=network.target remote-fs.target nss-lookup.target
Wants=postgresql.service # allslavic-sidekiq.service
Requires=redis.service

[Service]
Type=simple
User=_nginx
Group=_nginx
Environment=RAILS_ENV=<%= fetch(:rails_env) %>
WorkingDirectory=<%= current_path %>
ExecStart=/bin/bash -lc 'exec bundle exec puma'
StandardInput=null
StandardOutput=syslog
StandardError=syslog
TimeoutSec=30
SyslogIdentifier=allslavic

[Install]
WantedBy=multi-user.target

